<section class="section">
  <div class="container is-max-desktop">

    <h1 class="title">Dashboard</h1>

    <div class="column is-half is-offset-one-quarter">
      <% @servers.each do |server| %>
        <div class="card">
          <div class="card-content">
            <div class="content">
              <p><%= server.url %> Status Code: <%= get_status_code(server.id) %> Latency: <%= get_latency(server.id) %> ms </p>
            </div>
          </div>
        </div>
      <% end %>

      <%= render partial: 'form' %>
    </div>
  </div>
</section>
